.donneTitre {
  color: #b09e80;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}
.donneTitre h4 {
  font-size: 15px;
}
.formDonne {
  color: #e9e9e9;
}
.btn button,
.btn button:hover {
  color: #e9e9e9;
  border: 1px solid #b09e80;
}
.cadre {
  width: 80%;
  background: #192537;
}
.cadre1 {
  height: 400px;
  margin-top: 200px;
}
.cadre2 {
  height: 600px;
  margin-top: 120px;
}
.allergie {
  color: #e9e9e9;
  cursor: pointer;
  text-decoration: none;
}
.allergie:hover {
  color: rgb(233, 233, 233, 0.5);
}
@media screen and (min-width: 768px) {
  .cadre {
    width: 50%;
  }
  .donneTitre h4 {
    font-size: 20px;
  }
  .cadre2 {
    margin-top: 160px;
  }
}
@media screen and (min-width: 1024px) {
  .cadre {
    width: 40%;
  }
}
@media screen and (max-width: 520px) {
  .cadre {
    width: 100%;
  }
}
